#imagen {
    width: 40px;
    height: 40px;
    position: relative;
    left:28px ;
}

.texto{
    text-align: center;
}

.perro {
    border-radius: 10px !important;
    background-color:rgb(235, 235, 235);
    height: 100%;
    width: 100%;
    }

    .uno {
        border-radius: 10px !important;
        background-color:rgb(235, 235, 235);
    position: relative;
    left: -8px;
    }

   .op{
       text-align: center;
       position: relative;
       top: 12px;
       color: rgb(62, 64, 65);

   }

   #pe {
    width: 96%;
    height: 65%;
}

.ep {
    border-radius: 10px !important;
    background-color:rgb(235, 235, 235);
    height: 100%;
}

.op1{
    position: relative;
    left: 9px;
    color: rgb(62, 64, 65);
}

.op2{
    position: relative;
    left: 22px;
    color: rgb(62, 64, 65);
}



.op3{
    position: relative;
    color: rgb(62, 64, 65);
}

.ico2{
    position: relative;
    left: 79px;
    font-size: x-large;
}

.ico3{
    position: relative;
    left: 90px;
    font-size: x-large;
}

.ico4{
    position: relative;
    left: -20px;
    font-size: x-large;
}

.ico5{
    position: relative;
    left: 70px;
    font-size: x-large;
}

.tab {
    background-color: #ff954e;
    font-size: 40px;
}

.tu{
    position: relative;
    left: 14px;
    top: -60px;
}

.tu1{
    position: relative;
    left: 16px;
    top: -60px;
}

.tu2{
    position: relative;
    left: 20px;
    top: -60px;
}