<ion-header>
    <ion-toolbar>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-label>
            <h1><b>MIS PEDIDOS</b></h1>
        </ion-label>
    </ion-list>
    <br>
    <ion-item>
        <h5>PEDIDOS POR CONFIRMAR</h5>
    </ion-item>

    <ion-list>
        <ion-card padding>
            <div>
                <ion-card-subtitle padding class="ion-text-end">Fecha</ion-card-subtitle>
                <ion-text class="ion-text-start">Id pedido:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Id cliente:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Descripción:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-lg-end"><u>Ver más</u></ion-text>
            </div>
            <ion-row>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Rechazado</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Acepado</ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

    <br>
    <ion-item>
        <h5>PEDIDOS EN TRANCE</h5>
    </ion-item>

    <ion-list>
        <ion-card padding>
            <div>
                <ion-card-subtitle padding class="ion-text-end">Fecha</ion-card-subtitle>
                <ion-text class="ion-text-start">Id pedido:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Id cliente:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Descripción:</ion-text>
            </div>
            <ion-row>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col>
                </ion-col>
                <ion-col>
                    <ion-button class="button" color="medium">Ver recorrido</ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
    <br>
    <ion-item>
        <h5>PEDIDOS REIBIDOS</h5>
    </ion-item>
    <ion-list>
        <ion-card padding>
            <div>
                <ion-card-subtitle padding class="ion-text-end">Fecha</ion-card-subtitle>
                <ion-text class="ion-text-start">Id pedido:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Id cliente:</ion-text>
            </div>
            <div>
                <ion-text class="ion-text-start">Descripción:</ion-text>
            </div>

        </ion-card>
    </ion-list>

</ion-content>